.simpleSlide-slide div{
	width: 600px;
	height: 500px;
	position: relative;
}

.simpleSlide-window {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.slideshow {
	position: relative;
	overflow: hidden;
	height : 520px;
	width : 610px;
}

.left-button {
	background-image:url("../Img/left-arrow.png");	
}

.right-button {
	background-image:url("../Img/right-arrow.png");
	right: 1px;
}

.left-button, .right-button {
	cursor:pointer;
	height:72px;
	position:absolute;
	width:50px;
	z-index: 100;
	top:50%;
	margin-top: -36px;
}

.slide_headline {
	color:#FCF4F4;
	font-size:46px;
	font-weight:bold;
	letter-spacing:-0.04em;
	top: 20px;
	left: 20px;
	position: absolute;
}

.body_headline {
	color:#FCF4F4;
	font-size:46px;
	font-weight:bold;
	letter-spacing:-0.04em;
}

.slide_number {
	color:#FCF4F4;
	font-size:180px;
	font-weight:bold;
	right:400px;
	top:100px;
	position:absolute;
	text-align: right;
}
	
.slide_copy {
	color:#FCF4F4;
	left:159px;
	top:111px;
	position:absolute;
	width:375px;
	line-height: 22px;
}
.simpleSlideStatus-tray {
	margin: 5px auto;
}

.sidebar_white_header {
	color: #000;
	background-color: #FCF4F4;
	margin-top: 70px;
	vertical-align: text-top;
	height:13px;
	padding-left: 10px;
}

.simpleSlide-slide{
}

.event_images {
	vertical-align: middle;
	margin-top:80px;
	margin-bottom:80px;
}

#main_container{
	width:1000px;
	margin: auto;
}

#rotation_controls_container {
	width: 100%;
}

#rotation_controls{
	height: 50px;
	margin: 4px auto;
	clear : both;
	display : block;
	width: 380px;
}

#rotate_anticlockwise, #rotate_clockwise{
	border: 1px solid #CCC; 
	cursor:pointer;
	width: 50px;
	float: left
}

#rotate_anticlockwise{
	clear: left;
} 

#rotate_clockwise {
	clear: right;
}

#roatation_indicator{
	margin-left: 50px; 
	margin-right:50px; 
	width:32px;
	float: left;
	margin-top: 10px;
}

ul.gallery {
	width: 200px;
	list-style: none;
	margin: 0; 
	padding: 0;
}

ul.gallery li {
	margin-top: 10px;
	padding: 0;
	text-align: center;
	border: 1px solid #ccc;
	-moz-border-radius: 3px; 
	-khtml-border-radius: 3px; 
	-webkit-border-radius: 3px;
	list-style-type: none!important;
}

ul.gallery li a.thumb {
	height: 120px;
	padding: 5px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	position: relative;
}

ul.gallery li span {
	width: 120px;
	height: 110px;
	overflow: hidden;
	display: block;
}

ul.gallery li a.thumb:hover {
	
}

ul.gallery li h2 {
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0; padding: 10px;
	background: #f0f0f0;
	border-top: 1px solid #fff; 
}

ul.gallery li a {
	text-decoration: none;
	color: #777;
	display: block;
}

#thumbnails{
	border: 1px solid #CCC;
	float :left;
}

#action_panel{
	border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    float: left;
    height: 500px;
    margin: 0 0 0 0;
    position: relative;
}

#slideshow_container{
	float : left;
	width : 620px; 
	margin-left : 20px;
	margin-right: 40px;
}

#place_holder_1{
	height : 20px;
	clear : both;
}

#place_holder_2{
	margin-top : 10px;
	margin-bottom : 10px;
	border-top : 1px solid #CCC;
}

#place_holder_3{
	margin-top : 150px;
	margin-bottom : 10px;
	border-top : 1px solid #CCC;
	clear : both;
}

#action_buttons {
	height : 500px;
	margin : auto;
}

#action_buttons button{
	width: 100px;
}

#rotation_controls button {
	width: 120px;
}

#control_toggle_groupe_1 button{
	clear:both;
	display:block;
}

.visited_thumbnail{
	background : #FF7F50 !important;
}
.visited_thumbnail a{
	color : black !important;
	font-weight : bold !important;
}

.custom_dialog{
	display: none;
	z-index: 1000;
}

.thumbnail_unvisited, .thumbnail_visited{
	position: absolute;	
	top: 8px;
	right : 5px;
	height: 16px;
	width: 16px;
}

.thumbnail_unvisited{
	background-image: url('../Img/emblem-new.png');
}

.thumbnail_visited{
	background-image: url('../Img/emblem-default.png');
}