{% extends "base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}
	{{ title }} | {% trans 'Tajhiz' %}
{% endblock %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}Css/galleries.css"  ></link>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}Css/changelists.css"></link>
{% endblock %}

{% block userscripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}Js/galleries_browser.js"></script>
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Tajhiz Tajhiz' %}</h1>
{% endblock %}
{% block content %}
	<h1>Sélectionnez une gallerie</h1>
    <ul class="object-tools">
        <li><a href="#" class="">Accueil</a></li>
    </ul>
    <div class="module filtered" id="changelist">
		<div id="changelist-filter">
			<h2>Filtre</h2>
			<h3>Par direction regionale</h3>
			<ul>
			    <li class="selected"><a href="#">Toutes les directions</a></li>
			    {% for dr in drs %}
			    <li><a href="#" name="{{ dr.label }}">{{ dr.label }}</a></li>
			    {% endfor %}
			</ul>
			<h3>Par progression</h3>
			<ul>
			    <li class="selected"><a href="#">Tout</a></li>
			    <li><a href="#" name="1">Non traité</a></li>
			    <li><a href="#" name="2">En cour</a></li>
			    <li><a href="#" name="3">Complété</a></li>
			</ul>
		</div>
		<div class="results">
		{% if galleries %}
			{% autopaginate galleries %}						
			<ul class="gallery avaible_galleries">
				{% for gallery in galleries %}
					{% for photo in gallery.gallery.photos.all|slice:"1" %}
						{% if not gallery.locked %}
						<li title="{{ gallery.gallery.title }}" class="left">
							<a href="#" class="thumb" name="{{ gallery.gallery.title }}">
								<span>
									<img src="{{ photo.get_thumbnail_url }}" alt="{{ gallery.gallery.title }}">
								</span>
							</a>
							<div class="gallery_info_container">
								<h2>
									<a href="#" name="{{ gallery.gallery.title }}">{{ gallery.gallery.id }}</a>
									<div class="gallery_lock">					
									{% if gallery.progress == 1 %}
										<img src="{{ MEDIA_URL }}Img/wrench_orange.png" title="Work in progress" alt="Work in progress"/>
									{% else %}
										{% if  gallery.progress == 2 %}
										<img src="{{ MEDIA_URL }}Img/emblem-default.png" title="Gallery processed" alt="Gallery processed"/>
										{% endif %}
									{% endif %}
										<img src="{{ MEDIA_URL }}Img/lock_open.png" title="Owned by {{ gallery.owner.get_full_name }}" alt="{{ gallery.gallery.title }}"/>
									</div>
								</h2>
							</div>
						</li>
						{% else %}
						<li title="{{ gallery.gallery.title }}" class="left">
							<a href="#" class="thumb" name="{{ gallery.gallery.title }}">
								<span>
									<img src="{{ photo.get_thumbnail_url }}"/>
								</span>
							</a>
							<div class="gallery_info_container">
								<h2>
									<a href="#" name="{{ gallery.gallery.title }}">{{ gallery.gallery.id }}</a>
									<div class="gallery_lock">					
										<img src="{{ MEDIA_URL }}Img/lock.png" title="Locked by {{ gallery.owner.get_full_name }}"  alt="{{ gallery.gallery.title }}"/>
										{% if gallery.owner == user %}
										<img src="{{ MEDIA_URL }}Img/key.png" title="You own this gallery" alt="You own this gallery"/>
										{% endif %}
										{% if gallery.progress == 1 %}
										<img src="{{ MEDIA_URL }}Img/wrench_orange.png" title="Work in progress" alt="Work in progress"/>
										{% endif %}
									</div>
								</h2>
							</div>
						</li>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ul>
			<div class="clear"></div>
			{% paginate %}
		</div>
		{% endif %}
	</div>
{% endblock %}
