{% extends "base.html" %}

{% load i18n %}

{% block title %}
	{{ title }} | {% trans 'Tajhiz' %}
{% endblock %}

{% block extrahead %}
	<script type="text/javascript" src="{{ MEDIA_URL }}Js/raphael.js"              ></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}Js/jquery.easing.1.3.js"    ></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}Js/jquery.mousewheel.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}Css/qualification.css"          ></link>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}Css/jquery.mCustomScrollbar.css"></link>
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Tajhiz Tjhiz' %}</h1>
{% endblock %}

{% block userscripts %}
<script type="text/javascript">
	var media_prefix  = "{{ MEDIA_URL                    }}";
	var images_count  = "{{ gallery.gallery.photos.count }}";
	var gallery_name  = "{{ gallery.gallery.title        }}";
	var image_sources = [
		{% for image in gallery.gallery.photos.all %}
			"{{ image.get_display_url }}",
		{% endfor %}
	];
	var image_titles = [
		{% for image in gallery.gallery.photos.all %}
			"{{ image.title }}",
		{% endfor %}
	];
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}Js/qualification.js"          ></script>
<script type="text/javascript" src="{{ MEDIA_URL }}Js/jquery.mCustomScrollbar.js"></script>
{% endblock %}

{% block content %}
<div id="main_container" align="center">
	<form id="qalification_photo" action="" methode="post">
		<div align="center">
			<div id="mcs_container">
				<div class="customScrollBox">
					<div class="container">
						<div class="content">
							<ul class="gallery">
								{% for image in gallery.gallery.photos.all %}
								<li title="{{forloop.counter}}">
									<a href="#" class="thumb">
										<span>
											<img width="120" height="110" src="{{ image.get_admin_thumbnail_url }}" alt="" />
										</span>
										<div class="thumbnail_unvisited thumbnail_visited_status"></div>
									</a>
									<h2>
										<a href="#">{{ image.title }}</a>
									</h2>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div class="dragger_container">
						<div class="dragger"></div>
					</div>
					<a class="scrollUpBtn"   href="#"></a>
					<a class="scrollDownBtn" href="#"></a>
				</div>
			</div>
			<div id="slideshow_container" align="center">
				<div class="shadow">
					<div class="slideshow">
						<div class="top-button" style="display:none"></div>
						<div class="down-button" style="display:none"></div>
						<div class="left-button left" rel="group"></div>
						<div class="simpleSlide-window left" rel="group">
							<div class="simpleSlide-tray" rel="group">
								{% for image in gallery.gallery.photos.all %}
						    	<div class="simpleSlide-slide" rel="group">
									<div id="holder_{{forloop.counter}}"></div>
								</div>
								{% endfor %}
							</div>
				        </div>
				        <div class="right-button left" rel="group"></div>
					</div>
					<div class="clear"></div>
				    <div class="simpleSlideStatus-tray" rel="">
				    	<div class="simpleSlideStatus-window" rel=""></div>
				    </div>
				    <div class="clear"></div>
			    </div>
			    <div id="rotation_controls_container" align="center">
					<div id="rotation_controls" align="center">
						<button id="rotate_anticlockwise">
							<img id="rotate_anticlockwise_img" src="{{ MEDIA_URL }}/Img/shape_rotate_anticlockwise.png" alt="rotate anticlockwise"/>
						</button>
						<div id="roatation_indicator">
							<img id="rotation_value" src="{{ MEDIA_URL }}/Img/transform_rotate_0.png" alt="rotation angle"/>
						</div>
						<button id="rotate_clockwise">
							<img id="rotate_clockwise_img" src="{{ MEDIA_URL }}/Img/shape_rotate_clockwise.png" alt="rotate clockwise"/>
						</button>
				    </div>
			    </div>
			</div>
			<div id="action_panel">
				<div id="place_holder_1"></div>
				<div id="action_buttons" align="center">
					<div id="control_toggle_groupe_1">
						<button id="valid"   value="1" class="contrls_toggle_group_1">Valide</button>
						<button id="invalid" value="2" class="contrls_toggle_group_1">Invalide</button>
						<button id="anbigus" value="3" class="contrls_toggle_group_1">Ambigûe</button>
					</div>
					<div id="place_holder_2"></div>
					<button id="reset">R.A.Z</button>
					<div style="clear"></div>
					<div class="progress"></div>
					<div id="place_holder_3"></div>
					<button id="save">Enregistrer</button>
					<div style="clear"></div>
					<button id="release">Déverrouiller</button>
				</div>
			</div>
		</div>
	</form>
</div>

</div>
{% endblock %}

{% block extra_custom_dialogs %}
	<!-- Gallery confirmation dialog -->
	<div id="gallery_release_dialog" title="Release current gallery" class="custom_dialog">
		<p>
			<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
			Confirmer le déverrouillage de la gallery ??
			<br/>
			<br/>
			Vous devez au préalable enregistrer toutes les informations modifiées, car vous allez être redirigé vers la page de choix des gallery.
			<br/>
			<br/>
			De même vous ne serez plus le détenteur exclusif de la librairie.
		</p>
	</div>
{% endblock %}
